.top-left{
  margin-top: 0px;
  margin-left: 0px;
  display: flex;
  justify-content: flex-start;
}
.top-right{
  margin-top: -55px;
  margin-right: 0px;
  display: flex;
  justify-content: flex-end;
}
.bottom-left{
  margin-top: 200px;
  margin-left: 0px;
  display: flex;
  justify-content: flex-start;
}
.bottom-right{
  margin-top: -55px;
  margin-right: 0px;
  display: flex;
  justify-content: flex-end;
}

